version: '3.8'

services:
#Levanta laravel
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "80:80"
    environment:
      - APP_ENV=
      - DB_CONNECTION=
      - DB_HOST=
      - DB_PORT=3306
      - DB_DATABASE=
      - DB_USERNAME=
      - DB_PASSWORD=
    depends_on:
      - db
    networks:
      - app_network
    
#Levanta la base de datos
  db:
    image: mysql:8.0
    container_name: mysql_db
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=
      - MYSQL_USER=
      - MYSQL_PASSWORD=
      - MYSQL_ROOT_PASSWORD=
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

volumes:
  mysql_data:

networks:
  app_network:
    driver: bridge

# Levanta angular
frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
    command: npm start
    networks:
      - app_network
